[Desktop Entry]
Type=Application
Name=sts
Comment=Spring Tool Suite
Icon=/home/wendleypf/sts-bundle/sts-3.9.5.RELEASE/icon.xpm
Exec=/home/wendleypf/sts-bundle/sts-3.9.5.RELEASE/STS
Terminal=false
Categories=Development;IDE;Java;
StartupWMClass=STS
